# Dependencies
node_modules/

# Build Output
dist/

# Logs
logs/
*.log
npm-debug.log*

# Environment Variables
.env
.env.local

# Coverage
coverage/
.nyc_output/

# IDE / OS
.DS_Store
.idea/
.vscode/
